* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

// scroll invisivel
body::-webkit-scrollbar {
    display: none;
    }

// logo nav 
img.logo-onebit{
    max-width: 240px;
    margin-left: -10px;
    margin-right: 20px;

    // media logo
    @media (max-width: 405px) {
        width: 180px;
        margin-top: 15px;
    }

    @media (max-width: 350px) {
        width: 150px;
    }

}

// all pages
footer {
    height: 15vh;
    background-color: black;
    font-size: 13px;
}

a {
    text-decoration: none;
    color: white;

    &:hover {
        color: $hoverl;
    }
}



// medidas

.wd-40 {
    width: 500px;

    @media (max-width: 506px) {
        width: 100%;
    }
}

.hg-80 {
    height: 80vh;
}