// cor dos links */
$hoverl: #b9b9b9;
.aL {
    color: $hoverl;
}

// cor do copyright */
$copyr: #555252;

// cor do item da tabela
$itemtable: #d8d8d8;

// atalho cores
.bg-black {
    background-color: black;
}